In [1]:
import csv
import pandas as pd
import yfinance as yf

In [2]:
# import Wallstreet Bets csv file
csvfile = "./Resources/reddit_wsb.csv"
wsb_csv = pd.read_csv(csvfile)
wsb_csv.head()

,title,score,id,url,comms_num,created,body,timestamp
0,"It's not about the money, it's about sending a...",55,l6ulcx,https://v.redd.it/6j75regs72e61,6,1.611863e+09,NaN,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,110,l6uibd,https://v.redd.it/ah50lyny62e61,23,1.611862e+09,NaN,2021-01-28 21:32:10
2,Exit the system,0,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,47,1.611862e+09,The CEO of NASDAQ pushed to halt trading “to g...,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,29,l6ugk6,https://sec.report/Document/0001193125-21-019848/,74,1.611862e+09,NaN,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",71,l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,156,1.611862e+09,NaN,2021-01-28 21:26:56

In [3]:
wsb_csv['body'] = wsb_csv['body'].fillna("")

In [4]:
wsb_csv.columns
wsb_csv['title_body'] = wsb_csv['title'] + wsb_csv['body']
wsb_csv.drop(columns=['score', 'id','url','comms_num','created', 'title', 'body'], inplace=True)
wsb_csv['title_body'] = wsb_csv['title_body'].str.upper()
wsb_csv['timestamp'] = pd.to_datetime(wsb_csv['timestamp']).dt.date
# wsb_csv['weekday'] = pd.to_datetime(wsb_csv['timestamp']).dt.day_name()

In [5]:
ticker_list = {'AMC': ['AMC'], 'GME': ['GME'], 'CLOV': ['CLOV'], 'BB': ['BB'], 'CLF': ['CLF'], 'CLNE': ['CLNE'],
               'WKHS': ['WKHS'], 'SENS': ['SENS'], 'PLTR': ['PLTR'], 'RKT': ['RKT'], 'WWE': ['WWE'], 'FORD': ['FORD']}

for ticker, stock_names in ticker_list.items():
    for name in stock_names:
        wsb_csv[ticker] = wsb_csv['title_body'].str.contains(name).astype(int)

In [6]:
wsb_csv.head()

,timestamp,title_body,weekday,AMC,GME,CLOV,BB,CLF,CLNE,WKHS,SENS,PLTR,RKT,WWE,FORD
0,2021-01-28,"IT'S NOT ABOUT THE MONEY, IT'S ABOUT SENDING A...",Thursday,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-01-28,MATH PROFESSOR SCOTT STEINER SAYS THE NUMBERS ...,Thursday,0,0,0,0,0,0,0,0,0,0,0,0
2,2021-01-28,EXIT THE SYSTEMTHE CEO OF NASDAQ PUSHED TO HAL...,Thursday,0,1,0,0,0,0,0,0,0,0,0,0
3,2021-01-28,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,Thursday,0,1,0,0,0,0,0,0,0,0,0,0
4,2021-01-28,"NOT TO DISTRACT FROM GME, JUST THOUGHT OUR AMC...",Thursday,1,1,0,0,0,0,0,0,0,0,0,0

In [26]:
mentions_by_ticker_df = wsb_csv.groupby(["timestamp"]).sum()
mentions_by_ticker_df.reset_index(inplace=True)
mentions_by_ticker_df

,timestamp,AMC,GME,CLOV,BB,CLF,CLNE,WKHS,SENS,PLTR,RKT,WWE,FORD
0,2020-09-29,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-01-28,214,419,1,123,0,0,0,11,7,0,1,7
2,2021-01-29,2276,4677,0,1488,0,0,0,87,41,4,3,97
3,2021-01-30,151,528,0,117,0,0,1,23,8,2,1,30
4,2021-01-31,98,410,0,84,1,0,0,25,7,0,0,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2021-05-28,38,13,0,19,0,0,0,7,4,4,0,9
119,2021-05-29,14,2,2,6,0,1,0,2,0,1,0,1
120,2021-05-30,10,8,0,7,0,0,0,6,1,0,0,2
121,2021-05-31,3,5,0,8,0,0,0,2,0,0,0,5
122,2021-06-01,5,2,0,3,0,0,0,1,0,0,0,0

In [29]:
AMC_mentions = mentions_by_ticker_df['timestamp','AMC']
AMC_mentions

KeyError: ('timestamp', 'AMC')

In [8]:
data = yf.download('GME AMC CLOV BB CLF CLNE WKHS SENS PLTR RKT WWE FORD', start="2021-01-01", end="2021-06-01")

[*********************100%***********************]  12 of 12 completed

In [9]:
data.head()

           Adj Close                                                  \
                 AMC    BB        CLF   CLNE   CLOV  FORD        GME
Date
2021-01-04      2.01  6.58  14.420000   7.83  15.61  1.88  17.250000
2021-01-05      1.98  6.77  15.700000   8.68  15.09  1.89  17.370001
2021-01-06      2.01  6.71  17.420000   9.00  14.53  1.85  18.360001
2021-01-07      2.05  7.06  17.670000  11.10  16.02  1.91  18.080000
2021-01-08      2.14  7.56  18.040001  10.25  15.90  1.92  17.690001

                                         ...    Volume                      \
                 PLTR        RKT   SENS  ...       CLF      CLNE      CLOV
Date                                     ...
2021-01-04  23.370001  19.115538  0.930  ...  13943600   6023300  21001700
2021-01-05  24.600000  19.010401  0.950  ...  17867500  13054700  13198800
2021-01-06  23.540001  18.494284  0.898  ...  27988700  13370400  26843600
2021-01-07  25.000000  18.847919  0.880  ...  18574800  21143600  20563800
2021-01-08  25.200001  19.067749  0.867  ...  15849300  17507800  15380000


              FORD       GME      PLTR       RKT      SENS      WKHS     WWE
Date
2021-01-04  117800  10022500  44970400   6486900   9844900  19044700  744800
2021-01-05  123100   4961500  29050400  14297700  31283500  13573300  549800
2021-01-06  322000   6056200  32732900  16289300   9545400  18997800  740700
2021-01-07   95200   6129300  32240000   8838300   8125700  24390400  573900
2021-01-08   84200   6482000  41313800   6596800   4864000  21290600  574200

[5 rows x 72 columns]

In [10]:
data.drop(columns=["Close", "High", "Low", "Open", "Volume"], inplace=True)
data.head()

In [12]:
GME_price_history = data.iloc[:, data.columns.get_level_values(1)=='GME']
AMC_price_history = data.iloc[:, data.columns.get_level_values(1)=='AMC']
BB_price_history = data.iloc[:, data.columns.get_level_values(1)=='BB']
CLF_price_history = data.iloc[:, data.columns.get_level_values(1)=='CLF']
CLNE_price_history = data.iloc[:, data.columns.get_level_values(1)=='CLNE']
FORD_price_history = data.iloc[:, data.columns.get_level_values(1)=='FORD']
PLTR_price_history = data.iloc[:, data.columns.get_level_values(1)=='PLTR']
RKT_price_history = data.iloc[:, data.columns.get_level_values(1)=='RKT']
SENS_price_history = data.iloc[:, data.columns.get_level_values(1)=='SENS']
WKHS_price_history = data.iloc[:, data.columns.get_level_values(1)=='WKHS']
WWE_price_history = data.iloc[:, data.columns.get_level_values(1)=='WWE']

In [13]:
GME_price_history.columns = GME_price_history.columns.droplevel(1)
AMC_price_history.columns = AMC_price_history.columns.droplevel(1)
BB_price_history.columns = BB_price_history.columns.droplevel(1)
CLF_price_history.columns = CLF_price_history.columns.droplevel(1)
CLNE_price_history.columns = CLNE_price_history.columns.droplevel(1)
FORD_price_history.columns = FORD_price_history.columns.droplevel(1)
PLTR_price_history.columns = PLTR_price_history.columns.droplevel(1)
RKT_price_history.columns = RKT_price_history.columns.droplevel(1)
SENS_price_history.columns = SENS_price_history.columns.droplevel(1)
WKHS_price_history.columns = WKHS_price_history.columns.droplevel(1)
WWE_price_history.columns = WWE_price_history.columns.droplevel(1)

In [14]:
GME_price_history['Percent change'] = None
AMC_price_history['Percent change'] = None
BB_price_history['Percent change'] = None
CLF_price_history['Percent change'] = None
CLNE_price_history['Percent change'] = None
FORD_price_history['Percent change'] = None
PLTR_price_history['Percent change'] = None
RKT_price_history['Percent change'] = None
SENS_price_history['Percent change'] = None
WKHS_price_history['Percent change'] = None
WWE_price_history['Percent change'] = None

GME_price_history['Percent change'] = GME_price_history.pct_change()
AMC_price_history['Percent change'] = AMC_price_history.pct_change()
BB_price_history['Percent change'] = BB_price_history.pct_change()
CLF_price_history['Percent change'] = CLF_price_history.pct_change()
CLNE_price_history['Percent change'] = CLNE_price_history.pct_change()
FORD_price_history['Percent change'] = FORD_price_history.pct_change()
PLTR_price_history['Percent change'] = PLTR_price_history.pct_change()
RKT_price_history['Percent change'] = RKT_price_history.pct_change()
SENS_price_history['Percent change'] = SENS_price_history.pct_change()
WKHS_price_history['Percent change'] = WKHS_price_history.pct_change()
WWE_price_history['Percent change'] = WWE_price_history.pct_change()

<ipython-input-14-1818d383fe6a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GME_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AMC_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BB_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CLF_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CLNE_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FORD_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PLTR_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RKT_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SENS_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WKHS_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WWE_price_history['Percent change'] = None
<ipython-input-14-1818d383fe6a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GME_price_history['Percent change'] = GME_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AMC_price_history['Percent change'] = AMC_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BB_price_history['Percent change'] = BB_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CLF_price_history['Percent change'] = CLF_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CLNE_price_history['Percent change'] = CLNE_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FORD_price_history['Percent change'] = FORD_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PLTR_price_history['Percent change'] = PLTR_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RKT_price_history['Percent change'] = RKT_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SENS_price_history['Percent change'] = SENS_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WKHS_price_history['Percent change'] = WKHS_price_history.pct_change()
<ipython-input-14-1818d383fe6a>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WWE_price_history['Percent change'] = WWE_price_history.pct_change()

In [15]:
AMC_price_history.head()

            Adj Close Percent change
Date
2021-01-04       2.01            NaN
2021-01-05       1.98      -0.014925
2021-01-06       2.01       0.015152
2021-01-07       2.05       0.019900
2021-01-08       2.14       0.043903

In [16]:
GME_price_history['Ticker'] = None
AMC_price_history['Ticker'] = None
BB_price_history["Ticker"] = None
CLF_price_history["Ticker"] = None
CLNE_price_history["Ticker"] = None
FORD_price_history["Ticker"] = None
PLTR_price_history["Ticker"] = None
RKT_price_history["Ticker"] = None
SENS_price_history["Ticker"] = None
WKHS_price_history["Ticker"] = None
WWE_price_history["Ticker"] = None

GME_price_history.loc[:,'Ticker'] = 'GME'
AMC_price_history.loc[:,'Ticker'] = 'AMC'
BB_price_history.loc[:,"Ticker"]= 'BB'
CLF_price_history.loc[:,"Ticker"]= 'CLF'
CLNE_price_history.loc[:,"Ticker"]= 'CLNE'
FORD_price_history.loc[:,"Ticker"]= 'FORD'
PLTR_price_history.loc[:,"Ticker"]= 'PLTR'
RKT_price_history.loc[:,"Ticker"]= 'RKT'
SENS_price_history.loc[:,"Ticker"]= 'SENS'
WKHS_price_history.loc[:,"Ticker"]= 'WKHS'
WWE_price_history.loc[:,"Ticker"] = 'WWE'

<ipython-input-16-981b63d46b03>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GME_price_history['Ticker'] = None
<ipython-input-16-981b63d46b03>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AMC_price_history['Ticker'] = None
<ipython-input-16-981b63d46b03>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BB_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CLF_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CLNE_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FORD_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PLTR_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RKT_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SENS_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WKHS_price_history["Ticker"] = None
<ipython-input-16-981b63d46b03>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WWE_price_history["Ticker"] = None
/Users/tiffanyharris/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1719: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [17]:
GME_price_history.reset_index(inplace=True)
AMC_price_history.reset_index(inplace=True)
BB_price_history.reset_index(inplace=True)
CLF_price_history.reset_index(inplace=True)
CLNE_price_history.reset_index(inplace=True)
FORD_price_history.reset_index(inplace=True)
PLTR_price_history.reset_index(inplace=True)
RKT_price_history.reset_index(inplace=True)
SENS_price_history.reset_index(inplace=True)
WKHS_price_history.reset_index(inplace=True)
WWE_price_history.reset_index(inplace=True)

In [18]:
AMC_price_history.head()

        Date  Adj Close Percent change Ticker
0 2021-01-04       2.01            NaN    AMC
1 2021-01-05       1.98      -0.014925    AMC
2 2021-01-06       2.01       0.015152    AMC
3 2021-01-07       2.05       0.019900    AMC
4 2021-01-08       2.14       0.043903    AMC

In [20]:
stock_price_changes = GME_price_history.append(AMC_price_history)
stock_price_changes = stock_price_changes.append(BB_price_history)
stock_price_changes = stock_price_changes.append(CLF_price_history)
stock_price_changes = stock_price_changes.append(CLNE_price_history)
stock_price_changes = stock_price_changes.append(FORD_price_history)
stock_price_changes = stock_price_changes.append(PLTR_price_history)
stock_price_changes = stock_price_changes.append(RKT_price_history)
stock_price_changes = stock_price_changes.append(SENS_price_history)
stock_price_changes = stock_price_changes.append(WKHS_price_history)
stock_price_changes = stock_price_changes.append(WWE_price_history)
stock_price_changes

          Date  Adj Close Percent change Ticker
0   2021-01-04  17.250000            NaN    GME
1   2021-01-05  17.370001       0.006957    GME
2   2021-01-06  18.360001       0.056995    GME
3   2021-01-07  18.080000      -0.015251    GME
4   2021-01-08  17.690001      -0.021571    GME
..         ...        ...            ...    ...
97  2021-05-24  57.919998       0.006429    WWE
98  2021-05-25  57.279999      -0.011050    WWE
99  2021-05-26  56.880001      -0.006983    WWE
100 2021-05-27  56.669998      -0.003692    WWE
101 2021-05-28  55.840000      -0.014646    WWE

[1122 rows x 4 columns]

In [22]:
stock_price_changes['Percent change'] = stock_price_changes['Percent change'].fillna(0)
stock_price_changes

          Date  Adj Close  Percent change Ticker
0   2021-01-04  17.250000        0.000000    GME
1   2021-01-05  17.370001        0.006957    GME
2   2021-01-06  18.360001        0.056995    GME
3   2021-01-07  18.080000       -0.015251    GME
4   2021-01-08  17.690001       -0.021571    GME
..         ...        ...             ...    ...
97  2021-05-24  57.919998        0.006429    WWE
98  2021-05-25  57.279999       -0.011050    WWE
99  2021-05-26  56.880001       -0.006983    WWE
100 2021-05-27  56.669998       -0.003692    WWE
101 2021-05-28  55.840000       -0.014646    WWE

[1122 rows x 4 columns]

In [23]:
stock_price_changes.to_csv("Stock_Price_Changes.csv")