In [3]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.59.tar.gz (25 kB)
Requirement already satisfied: pandas>=0.24 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.0.5)
Requirement already satisfied: numpy>=1.15 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: requests>=2.20 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from yfinance) (4.5.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: six>=1.5 in /Users/Tmunson50/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=26aa59f044e2eb9ddd9c17419a27a0e0a824de7dc9b42a696853a5ff1b3ed8d5
  Stored in directory: /Users/Tmunson50/Library/Caches/pip/wheels/7e/d5/f4/f628965651f61ae35c2bdc73571ce1a2026e1550a336b5ad4b
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8368 sha256=07f35ceb963701416d7ab484458ec7f9e9e1a6f76f9a14c11f1515e9b5f71005
  Stored in directory: /Users/Tmunson50/Library/Caches/pip/wheels/57/6d/a3/a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.59
Note: you may need to restart the kernel to use updated packages.

In [4]:
import csv
import pandas as pd
import yfinance as yf

In [5]:
# import Wallstreet Bets csv file
csvfile = "./Resources/reddit_wsb.csv"
wsb_csv = pd.read_csv(csvfile)
wsb_csv.head()

,title,score,id,url,comms_num,created,body,timestamp
0,"It's not about the money, it's about sending a...",55,l6ulcx,https://v.redd.it/6j75regs72e61,6,1.611863e+09,NaN,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,110,l6uibd,https://v.redd.it/ah50lyny62e61,23,1.611862e+09,NaN,2021-01-28 21:32:10
2,Exit the system,0,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,47,1.611862e+09,The CEO of NASDAQ pushed to halt trading “to g...,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,29,l6ugk6,https://sec.report/Document/0001193125-21-019848/,74,1.611862e+09,NaN,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",71,l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,156,1.611862e+09,NaN,2021-01-28 21:26:56

In [6]:
wsb_csv['body'] = wsb_csv['body'].fillna("")

In [7]:
wsb_csv.columns
wsb_csv['title_body'] = wsb_csv['title'] + wsb_csv['body']
wsb_csv.drop(columns=['score', 'id','url','comms_num','created', 'title', 'body'], inplace=True)
wsb_csv['title_body'] = wsb_csv['title_body'].str.upper()
wsb_csv['timestamp'] = pd.to_datetime(wsb_csv['timestamp']).dt.date
wsb_csv['weekday'] = pd.to_datetime(wsb_csv['timestamp']).dt.day_name()

In [8]:
ticker_list = {'AMC': ['AMC'], 'GME': ['GME'], 'CLOV': ['CLOV'], 'BB': ['BB'], 'CLF': ['CLF'], 'CLNE': ['CLNE'],
               'WKHS': ['WKHS'], 'SENS': ['SENS'], 'PLTR': ['PLTR'], 'RKT': ['RKT'], 'WWE': ['WWE'], 'FORD': ['FORD']}

for ticker, stock_names in ticker_list.items():
    for name in stock_names:
        wsb_csv[ticker] = wsb_csv['title_body'].str.contains(name).astype(int)

In [9]:
wsb_csv.head()

,timestamp,title_body,weekday,AMC,GME,CLOV,BB,CLF,CLNE,WKHS,SENS,PLTR,RKT,WWE,FORD
0,2021-01-28,"IT'S NOT ABOUT THE MONEY, IT'S ABOUT SENDING A...",Thursday,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-01-28,MATH PROFESSOR SCOTT STEINER SAYS THE NUMBERS ...,Thursday,0,0,0,0,0,0,0,0,0,0,0,0
2,2021-01-28,EXIT THE SYSTEMTHE CEO OF NASDAQ PUSHED TO HAL...,Thursday,0,1,0,0,0,0,0,0,0,0,0,0
3,2021-01-28,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,Thursday,0,1,0,0,0,0,0,0,0,0,0,0
4,2021-01-28,"NOT TO DISTRACT FROM GME, JUST THOUGHT OUR AMC...",Thursday,1,1,0,0,0,0,0,0,0,0,0,0

In [10]:
mentions_by_ticker_df = wsb_csv.groupby(["timestamp"]).sum()
mentions_by_ticker_df

,AMC,GME,CLOV,BB,CLF,CLNE,WKHS,SENS,PLTR,RKT,WWE,FORD
timestamp,,,,,,,,,,,,
2020-09-29,0,0,0,0,0,0,0,0,0,0,0,0
2021-01-28,214,419,1,123,0,0,0,11,7,0,1,7
2021-01-29,2276,4677,0,1488,0,0,0,87,41,4,3,97
2021-01-30,151,528,0,117,0,0,1,23,8,2,1,30
2021-01-31,98,410,0,84,1,0,0,25,7,0,0,29
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-28,38,13,0,19,0,0,0,7,4,4,0,9
2021-05-29,14,2,2,6,0,1,0,2,0,1,0,1
2021-05-30,10,8,0,7,0,0,0,6,1,0,0,2
2021-05-31,3,5,0,8,0,0,0,2,0,0,0,5
2021-06-01,5,2,0,3,0,0,0,1,0,0,0,0

In [11]:
data = yf.download('GME AMC CLOV BB CLF CLNE WKHS SENS PLTR RKT WWE FORD', start="2021-01-01", end="2021-06-01")

[*********************100%***********************]  12 of 12 completed

In [12]:
data.head()

           Adj Close                                                  \
                 AMC    BB        CLF   CLNE   CLOV  FORD        GME
Date
2021-01-04      2.01  6.58  14.420000   7.83  15.61  1.88  17.250000
2021-01-05      1.98  6.77  15.700000   8.68  15.09  1.89  17.370001
2021-01-06      2.01  6.71  17.420000   9.00  14.53  1.85  18.360001
2021-01-07      2.05  7.06  17.670000  11.10  16.02  1.91  18.080000
2021-01-08      2.14  7.56  18.040001  10.25  15.90  1.92  17.690001

                                         ...    Volume                      \
                 PLTR        RKT   SENS  ...       CLF      CLNE      CLOV
Date                                     ...
2021-01-04  23.370001  19.115538  0.930  ...  13943600   6023300  21001700
2021-01-05  24.600000  19.010401  0.950  ...  17867500  13054700  13198800
2021-01-06  23.540001  18.494284  0.898  ...  27988700  13370400  26843600
2021-01-07  25.000000  18.847919  0.880  ...  18574800  21143600  20563800
2021-01-08  25.200001  19.067749  0.867  ...  15849300  17507800  15380000


              FORD       GME      PLTR       RKT      SENS      WKHS     WWE
Date
2021-01-04  117800  10022500  44970400   6486900   9844900  19044700  744800
2021-01-05  123100   4961500  29050400  14297700  31283500  13573300  549800
2021-01-06  322000   6056200  32732900  16289300   9545400  18997800  740700
2021-01-07   95200   6129300  32240000   8838300   8125700  24390400  573900
2021-01-08   84200   6482000  41313800   6596800   4864000  21290600  574200

[5 rows x 72 columns]

In [13]:
# from pandas_datareader import data as pdr
# yf.pdr_override()
# data = pdr.get_data_yahoo("GME AMC", start="2021-01-01", end="2021-05-21")
data.drop(columns=["Close", "High", "Low", "Open", "Volume"], inplace=True)

In [14]:
data.head()

           Adj Close                                                  \
                 AMC    BB        CLF   CLNE   CLOV  FORD        GME
Date
2021-01-04      2.01  6.58  14.420000   7.83  15.61  1.88  17.250000
2021-01-05      1.98  6.77  15.700000   8.68  15.09  1.89  17.370001
2021-01-06      2.01  6.71  17.420000   9.00  14.53  1.85  18.360001
2021-01-07      2.05  7.06  17.670000  11.10  16.02  1.91  18.080000
2021-01-08      2.14  7.56  18.040001  10.25  15.90  1.92  17.690001


                 PLTR        RKT   SENS       WKHS        WWE
Date
2021-01-04  23.370001  19.115538  0.930  21.420000  47.122772
2021-01-05  24.600000  19.010401  0.950  22.430000  47.921124
2021-01-06  23.540001  18.494284  0.898  23.650000  48.400135
2021-01-07  25.000000  18.847919  0.880  27.600000  48.330280
2021-01-08  25.200001  19.067749  0.867  25.565001  48.140675

In [19]:
GME_price_history = data.iloc[:, data.columns.get_level_values(1)=='GME']
AMC_price_history = data.iloc[:, data.columns.get_level_values(1)=='AMC']
BB_price_history = data.iloc[:, data.columns.get_level_values(1)=='BB']
CLF_price_history = data.iloc[:, data.columns.get_level_values(1)=='CLF']
CLNE_price_history = data.iloc[:, data.columns.get_level_values(1)=='CLNE']
FORD_price_history = data.iloc[:, data.columns.get_level_values(1)=='FORD']
PLTR_price_history = data.iloc[:, data.columns.get_level_values(1)=='PLTR']
RKT_price_history = data.iloc[:, data.columns.get_level_values(1)=='RKT']
SENS_price_history = data.iloc[:, data.columns.get_level_values(1)=='SENS']
WKHS_price_history = data.iloc[:, data.columns.get_level_values(1)=='WKHS']
WWE_price_history = data.iloc[:, data.columns.get_level_values(1)=='WWE']

In [24]:
GME_price_history.head()
AMC_price_history.head()
BB_price_history.head()
CLF_price_history.head()
CLNE_price_history.head()
FORD_price_history.head()
PLTR_price_history.head()
RKT_price_history.head()
SENS_price_history.head()
WKHS_price_history.head()
WWE_price_history.head()

            Adj Close
                  WWE
Date
2021-01-04  47.122772
2021-01-05  47.921124
2021-01-06  48.400135
2021-01-07  48.330280
2021-01-08  48.140675

In [26]:
AMC_price_history.pct_change()
BB_price_history.pct_change()
CLF_price_history.pct_change()
CLNE_price_history.pct_change()
FORD_price_history.pct_change()
PLTR_price_history.pct_change()
RKT_price_history.pct_change()
SENS_price_history.pct_change()
WKHS_price_history.pct_change()
WWE_price_history.pct_change()

           Adj Close
                 WWE
Date
2021-01-04       NaN
2021-01-05  0.016942
2021-01-06  0.009996
2021-01-07 -0.001443
2021-01-08 -0.003923
...              ...
2021-05-24  0.006429
2021-05-25 -0.011050
2021-05-26 -0.006983
2021-05-27 -0.003692
2021-05-28 -0.014646

[102 rows x 1 columns]

In [27]:
AMC_price_history.reset_index()
BB_price_history.reset_index()
CLF_price_history.reset_index()
CLNE_price_history.reset_index()
FORD_price_history.reset_index()
PLTR_price_history.reset_index()
RKT_price_history.reset_index()
SENS_price_history.reset_index()
WKHS_price_history.reset_index()
WWE_price_history.reset_index()

          Date  Adj Close
                      WWE
0   2021-01-04  47.122772
1   2021-01-05  47.921124
2   2021-01-06  48.400135
3   2021-01-07  48.330280
4   2021-01-08  48.140675
..         ...        ...
97  2021-05-24  57.919998
98  2021-05-25  57.279999
99  2021-05-26  56.880001
100 2021-05-27  56.669998
101 2021-05-28  55.840000

[102 rows x 2 columns]