In [1]:
import csv
import pandas as pd
import yfinance as yf

In [2]:
# import Wallstreet Bets csv file
csvfile = "./Resources/reddit_wsb.csv"
wsb_csv = pd.read_csv(csvfile)
wsb_csv.head()

,title,score,id,url,comms_num,created,body,timestamp
0,"It's not about the money, it's about sending a...",55,l6ulcx,https://v.redd.it/6j75regs72e61,6,1.611863e+09,NaN,2021-01-28 21:37:41
1,Math Professor Scott Steiner says the numbers ...,110,l6uibd,https://v.redd.it/ah50lyny62e61,23,1.611862e+09,NaN,2021-01-28 21:32:10
2,Exit the system,0,l6uhhn,https://www.reddit.com/r/wallstreetbets/commen...,47,1.611862e+09,The CEO of NASDAQ pushed to halt trading “to g...,2021-01-28 21:30:35
3,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,29,l6ugk6,https://sec.report/Document/0001193125-21-019848/,74,1.611862e+09,NaN,2021-01-28 21:28:57
4,"Not to distract from GME, just thought our AMC...",71,l6ufgy,https://i.redd.it/4h2sukb662e61.jpg,156,1.611862e+09,NaN,2021-01-28 21:26:56

In [3]:
wsb_csv['body'] = wsb_csv['body'].fillna("")

In [4]:
wsb_csv.columns
wsb_csv['title_body'] = wsb_csv['title'] + wsb_csv['body']
wsb_csv.drop(columns=['score', 'id','url','comms_num','created', 'title', 'body'], inplace=True)
wsb_csv['title_body'] = wsb_csv['title_body'].str.upper()
wsb_csv['timestamp'] = pd.to_datetime(wsb_csv['timestamp']).dt.date
wsb_csv['weekday'] = pd.to_datetime(wsb_csv['timestamp']).dt.day_name()

In [5]:
ticker_list = {'AMC': ['AMC'], 'GME': ['GME'], 'CLOV': ['CLOV'], 'BB': ['BB'], 'CLF': ['CLF'], 'CLNE': ['CLNE'],
               'WKHS': ['WKHS'], 'SENS': ['SENS'], 'PLTR': ['PLTR'], 'RKT': ['RKT'], 'WWE': ['WWE'], 'FORD': ['FORD']}

for ticker, stock_names in ticker_list.items():
    for name in stock_names:
        wsb_csv[ticker] = wsb_csv['title_body'].str.contains(name).astype(int)

In [6]:
wsb_csv.head()

,timestamp,title_body,weekday,AMC,GME,CLOV,BB,CLF,CLNE,WKHS,SENS,PLTR,RKT,WWE,FORD
0,2021-01-28,"IT'S NOT ABOUT THE MONEY, IT'S ABOUT SENDING A...",Thursday,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-01-28,MATH PROFESSOR SCOTT STEINER SAYS THE NUMBERS ...,Thursday,0,0,0,0,0,0,0,0,0,0,0,0
2,2021-01-28,EXIT THE SYSTEMTHE CEO OF NASDAQ PUSHED TO HAL...,Thursday,0,1,0,0,0,0,0,0,0,0,0,0
3,2021-01-28,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,Thursday,0,1,0,0,0,0,0,0,0,0,0,0
4,2021-01-28,"NOT TO DISTRACT FROM GME, JUST THOUGHT OUR AMC...",Thursday,1,1,0,0,0,0,0,0,0,0,0,0

In [7]:
mentions_by_ticker_df = wsb_csv.groupby(["timestamp"]).sum()
mentions_by_ticker_df

,AMC,GME,CLOV,BB,CLF,CLNE,WKHS,SENS,PLTR,RKT,WWE,FORD
timestamp,,,,,,,,,,,,
2020-09-29,0,0,0,0,0,0,0,0,0,0,0,0
2021-01-28,214,419,1,123,0,0,0,11,7,0,1,7
2021-01-29,2276,4677,0,1488,0,0,0,87,41,4,3,97
2021-01-30,151,528,0,117,0,0,1,23,8,2,1,30
2021-01-31,98,410,0,84,1,0,0,25,7,0,0,29
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-28,38,13,0,19,0,0,0,7,4,4,0,9
2021-05-29,14,2,2,6,0,1,0,2,0,1,0,1
2021-05-30,10,8,0,7,0,0,0,6,1,0,0,2
2021-05-31,3,5,0,8,0,0,0,2,0,0,0,5
2021-06-01,5,2,0,3,0,0,0,1,0,0,0,0

In [24]:
data = yf.download('GME AMC CLOV BB CLF CLNE WKHS SENS PLTR RKT WWE FORD', start="2021-01-01", end="2021-05-21")
# data = yf.download('GME', start="2021-01-01", end="2021-05-21")

[*********************100%***********************]  12 of 12 completed

In [25]:
data.head()

           Adj Close                                                  \
                 AMC    BB        CLF   CLNE   CLOV  FORD        GME
Date
2021-01-04      2.01  6.58  14.420000   7.83  15.61  1.88  17.250000
2021-01-05      1.98  6.77  15.700000   8.68  15.09  1.89  17.370001
2021-01-06      2.01  6.71  17.420000   9.00  14.53  1.85  18.360001
2021-01-07      2.05  7.06  17.670000  11.10  16.02  1.91  18.080000
2021-01-08      2.14  7.56  18.040001  10.25  15.90  1.92  17.690001

                                         ...    Volume                      \
                 PLTR        RKT   SENS  ...       CLF      CLNE      CLOV
Date                                     ...
2021-01-04  23.370001  19.115538  0.930  ...  13943600   6023300  21001700
2021-01-05  24.600000  19.010401  0.950  ...  17867500  13054700  13198800
2021-01-06  23.540001  18.494284  0.898  ...  27988700  13370400  26843600
2021-01-07  25.000000  18.847919  0.880  ...  18574800  21143600  20563800
2021-01-08  25.200001  19.067749  0.867  ...  15849300  17507800  15380000


              FORD       GME      PLTR       RKT      SENS      WKHS     WWE
Date
2021-01-04  117800  10022500  44970400   6486900   9844900  19044700  744800
2021-01-05  123100   4961500  29050400  14297700  31283500  13573300  549800
2021-01-06  322000   6056200  32732900  16289300   9545400  18997800  740700
2021-01-07   95200   6129300  32240000   8838300   8125700  24390400  573900
2021-01-08   84200   6482000  41313800   6596800   4864000  21290600  574200

[5 rows x 72 columns]

In [26]:
# from pandas_datareader import data as pdr
# yf.pdr_override()
# data = pdr.get_data_yahoo("GME AMC", start="2021-01-01", end="2021-05-21")
data.drop(columns=["Close", "High", "Low", "Open", "Volume"], inplace=True)

In [27]:
data.head()

           Adj Close                                                  \
                 AMC    BB        CLF   CLNE   CLOV  FORD        GME
Date
2021-01-04      2.01  6.58  14.420000   7.83  15.61  1.88  17.250000
2021-01-05      1.98  6.77  15.700000   8.68  15.09  1.89  17.370001
2021-01-06      2.01  6.71  17.420000   9.00  14.53  1.85  18.360001
2021-01-07      2.05  7.06  17.670000  11.10  16.02  1.91  18.080000
2021-01-08      2.14  7.56  18.040001  10.25  15.90  1.92  17.690001


                 PLTR        RKT   SENS       WKHS        WWE
Date
2021-01-04  23.370001  19.115538  0.930  21.420000  47.122772
2021-01-05  24.600000  19.010401  0.950  22.430000  47.921124
2021-01-06  23.540001  18.494284  0.898  23.650000  48.400135
2021-01-07  25.000000  18.847919  0.880  27.600000  48.330280
2021-01-08  25.200001  19.067749  0.867  25.565001  48.140675

In [29]:
GME_price = data.iloc[:, data.columns.get_level_values(1)=='GME']

In [30]:
GME_price

             Adj Close
                   GME
Date
2021-01-04   17.250000
2021-01-05   17.370001
2021-01-06   18.360001
2021-01-07   18.080000
2021-01-08   17.690001
...                ...
2021-05-14  159.919998
2021-05-17  180.600006
2021-05-18  180.669998
2021-05-19  168.830002
2021-05-20  170.490005

[96 rows x 1 columns]